<div class="list-wrapper">
  <div class="card-list">
    <mat-card
      class="user-card"
      *ngFor="let user of users"
      [routerLink]="['/user-data', user.id]"
    >
      <div class="user-container">
        <div class="avatar">
          <img [src]="user.avatar" />
        </div>
        <div class="user-info">
          <h3>{{ user.first_name }} {{ user.last_name }}</h3>
        </div>
      </div>
    </mat-card>
    <button class="btn-load-more" *ngIf="users.length < totalUsers" mat-button (click)="loadMoreUsers()">Cargar más... ( {{users.length}} de {{totalUsers}} )</button>
    <button [routerLink]="['/new-user']" matTooltip="Crear nuevo usuario" mat-button>
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
