<mat-toolbar>
  <button mat-icon-button class="icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span><span class="dc">Duacode.</span> - Prueba técnica Angular</span>
  <span class="spacer"></span>
  <button mat-icon-button class="custom-icon">
    <a href="https://www.linkedin.com" target="_blank" mat-icon-button>
      <img src="assets/images/icon-linkedin.svg" alt="LinkedIn">
    </a>
  </button>
  <button mat-icon-button class="icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
