@use "../../../assets/styles/colors.scss" as *;

mat-toolbar {

  .custom-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .spacer {
    flex: 1 1 auto;
  }

  span {
    font-size: 14px;
    &.dc {
      font-size: 16px;
      color: $duacode;
      font-weight: 600;
    }
  }

}

