// Primary Teal
$teal-20: #e0f2f186;
$teal-50: #e0f2f1;
$teal-100: #b2dfdb;
$teal-200: #80cbc4;
$teal-300: #4db6ac;
$teal-400: #26a69a;
$teal-500: #009688;
$teal-600: #00897b;
$teal-700: #00796b;
$teal-800: #00695c;
$teal-900: #004d40;

// Neutral
$neutral-20: #607d8b00;
$neutral-50: #eceff1;
$neutral-100: #cfd8dc;
$neutral-200: #b0bec5;
$neutral-300: #90a4ae;
$neutral-400: #78909c;
$neutral-500: #607d8b;
$neutral-600: #546e7a;
$neutral-700: #455a64;
$neutral-800: #37474f;
$neutral-900: #263238;

// Warning
$warning-light: #fff8e1;
$warning: #ff9800;
$warning-dark: #e65100;

// Error
$error-light: #ffebee;
$error: #d32f2f;
$error-dark: #b71c1c;

// Success
$success-light: #e8f5e9;
$success: #4caf50;
$success-dark: #1b5e20;

// otros
$duacode: #DA1184;
